html {
    background-color: #142f7a;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: wheat;
}

h1:hover {
    cursor: pointer;
}

div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.background {
	position: absolute;
	margin-top: 80px;
    max-height: 85%;
	width: 95%;
	z-index: 1
}

#fact {
	display: flex;
	justify-content: center;
    position: fixed;
	margin-top: 100px;
	width: 90%;
    font-size: 3.5em;
	z-index: 2;
}

.animals {
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 90%;
	margin-top: 240px;
	z-index: 2
}

.animal {
	width: 33.3%;
}

.animal:hover {
    cursor: pointer;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: wheat;
}

@media only screen and (max-width: 850px) {
    .animals {
        margin-top: 200px;
    }
    #fact {
        font-size: 2em;
    }
}

@media only screen and (max-width: 670px) {
    h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 390px) {
	.animals {
		margin-top: 300px;
	}
}

@media only screen and (max-width: 300px) {
	.animals {
		margin-top: 130px;
	}
}

@media only screen and (max-width: 200px) {
	.animals {
		margin-top: 120px;
	}
}